body {
  background-color: #483D8B

}

header {
  float: right;
  height: 45px;


}

ul a {
  list-style-type: none;
  text-align: center;
  line-height: 13px;
  letter-spacing: normal;
color: white;
}

h1 {
  text-align: center;
  color: #d3d3d3;
  font-size: 27px;
  font-weight: bolder;
}

h2 {
  text-align: center;
  color: #d3d3d3;
  font-size: 33px;
}

img {
  width: auto;
  height: auto;
  align: center;
}
